/* this is for the design of the navigation bar */
body {
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #006747;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: flex; /* Use flexbox to control positioning */
    justify-content: space-between; /* Push items to the far left and far right */
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #009A6A;
  }
  
  .active {
    background-color: none;
  }
  
  #branding {
    padding: 14px 0; 
  }

/* this is for the header design of the animals page */
  body {
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .header {
    padding: 40px;
    text-align: center;
    background: white;
    color: #006747;
  }
  
  .header h1 {
    font-size: 30px;
  }
  
  .header p {
    font-size: 15px;
    color: #006747;
    text-align: center;
  }
  
/* this is for the designs of the animal cards */
.animal-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -10px; 
  }
  
  .animal-card {
    width: calc(33.3333% - 40px); 
    margin: 0 20px; 
    margin-bottom: 20px; 
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 20px;
  }
  
  .animal-card img {
    max-width: 100%;
    height: 150px; 
    object-fit: cover; 
    border-radius: 5px;
  }
  
  .animal-card h3 {
    font-size: 24px;
    margin: 10px 0;
    color: #009A6A;
  }
  
  .animal-card p {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
  }
  .animal-card p:hover {
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
    color: #004d35;
  }
  
  
  .animal-card:hover {
    background-color: #004d35; /* Change button color on hover */
  }

  .popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .popup-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #333;
    width: 30%;
    border-radius: 20px;
  }

  .popup-content h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #009A6A;
    margin-bottom: 5px;
  }
  
  .popup-content h6 {
    font-size: 14px;
    text-align: left;
    color: #A9C47F;
    margin-bottom: 0.5px;
  }
  
  .popup-content p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;
    margin-bottom: 5px;
  }
  
  .close {
    color: #333;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }